html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    background: #ccc;
    border: 0;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

body,
input {
    font-size: 14px;
}

body,
#languages > a {
    color: #5d6267;
}


/* =========================================================================== */
/* Desktop Development                                                         */
/* =========================================================================== */
#tempIpad {
    background: -webkit-linear-gradient(top,  #87a1b2 0%,#25527c 100%); /* Chrome10+,Safari5.1+ */
    border: 90px solid #222;
    border-radius: 45px;
    box-shadow: 1px 11px 31px 1px #111;
    height: 1024px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 768px;
}

#tempIpad-camera,
#tempIpad-homeButton {
    border: 1px solid #444;
}

#tempIpad-camera {
    background: #000;
    border-radius: 15px;
    height: 20px;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: 40px;
    width: 20px;
    z-index: 1;
}

#tempIpad-homeButton {
    background: #000;
    border-radius: 35px;
    height: 40px;
    left: 50%;
    margin-left: -21px;
    position: absolute;
    top: 1138px;
    width: 40px;
    z-index: 1;
}

    #tempIpad-homeButton #box {
        border: 1px solid #666;
        border-radius: 5px;
        height: 20px;
        left: 9px;
        position: absolute;
        top: 9px;
        width: 20px;
    }

/* =========================================================================== */
/* Forms                                                                       */
/* =========================================================================== */

fieldset {
    border: 0;
    margin: 0;
}

label,
input {
    float: left;
}

label {
    line-height: 36px;   
    width: 150px;
}

input {
    height: 36px;
    text-indent: 10px;
    width: 250px;
}

input[type="date"] {
    width: 140px;
}


fieldset.dual input {
    width: 180px;
}

input + input {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

#colLeft,
#colRight {
    height: 100%;
    position: absolute;
    top: 0;
}

.inner {
    padding: 10px;
}

.greyBox {
    background: -webkit-linear-gradient(top,  #e2e5ea 0%,#d0d2d8 100%); /* Chrome10+,Safari5.1+ */
    border-radius: 10px;
    box-shdaow: 0px 3px 5px -2px #000 inset;
    width: 100%;
}

/* =========================================================================== */
/* Left Column                                                                 */
/* =========================================================================== */

#colLeft {
    left: 0;
    width: 150px;
}

#languages > a {
    background: #fff url(../images/bg_right_arrow.png) 94% 50% no-repeat;
    border: 1px solid #9ea5a9;
    border-radius: 6px;
    box-shadow: 0px 1px 0px 1px #fff;
    clear: both;
    float: left;
    line-height: 32px;
    margin-bottom: 10px;
    text-decoration: none;
    text-indent: 10px;
    width: 128px;
}

/* =========================================================================== */
/* Right Column                                                                */
/* =========================================================================== */

#colRight {
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    right: 0;
    width: 618px;
    z-index: 1;
}

#colRight > .inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}

#colRight p {
    line-height: 30px;
}

#topBlock {
    background: #fff url(../images/bg_banner.jpg) 0 0 no-repeat;
    box-shadow: 0px 9px 17px -3px #fff;
    padding-top: 36px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1;
}

.screen {    
    display: none;
    overflow: hidden;
    width: 100%;
}

body.scrollable .screen {
    overflow-y: auto;
}

.js-userProfile.screen.js-active {
    bottom: 10px;
    right: 20px;
    max-height: 500px;
}

a.nextScreen,
#answerBox #actionsBar a,
#answerBox #answerBox-options-container a.answerBox-option {
    background: -webkit-linear-gradient(top,  #7ba0e7 0%,#1c63ed 100%); /* Chrome10+,Safari5.1+ */
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 5px 7px -4px #000 inset;
    color: #fff;
    float: right;
    line-height: 40px;
    margin-top: 90px;
    text-align: center;
    text-shadow: 0 -3px #333;
    width: 200px;
}

a.nextScreen:hover,
a.nextScreen:active {
    background: #042d4f;
}

#sendButton a.nextScreen {
    margin-top: 0;
}

/* =========================================================================== */
/* Question Sets                                                               */
/* =========================================================================== */

#exercise {
    font-size: 14px;
    height: 640px;
    overflow-y: auto;
    width: 614px;
    -webkit-transition: 0.5s height;
}

.sendButton #exercise {
    height: 870px;
}

.question-set {
    display: none;
    float: left;    
    margin-bottom: 20px;
    overflow: hidden;
    width: 580px;    
    z-index: 400;
}

.question-set.visible {
    display: block;
}

    .question,
    .answer {
    /*  background: -webkit-linear-gradient(top,  #a1a4a5 0%,#d0d2d8 100%); /* Chrome10+,Safari5.1+ */
        background-color: #d0d2d8;
        border-radius: 10px;
        color: #000;
        float: left;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 10px;
        position: relative;
        width: 440px;
    }

    .answer {
    /*  background: -webkit-linear-gradient(top,  #4b6a35 0%,#b9e072 100%); /* Chrome10+,Safari5.1+ */
        background-color: #b9e072;
        margin-left: 0px;
        margin-right: 20px;
        float: right;
    }
    
        .answer .userAnswer {
            padding-right: 40px;
        }

    .question-set.js-active .question {    
        background: #888;
    }
    
        .question-set.js-active .question .arrow {
            border-right: 20px solid #888;
        }

    .question-set.visible.js-answered .answer {
        background-image: url(../images/icon_edit.png);
        background-repeat: no-repeat;
        background-position: 96% 10px;
        background-size: 20px auto;    
    }

        .question .arrow,
        .answer .arrow {
            bottom: 5px;
            border-top: 15px solid transparent;
            border-bottom: 4px solid transparent;
            position: absolute;
            height: 0;
            width: 0; 
        }
        
        .question .arrow {
            border-right: 20px solid #d0d2d8;
            left: -16px;
        }
        
        .answer .arrow {
            border-left: 20px solid #b9e072;
            right: -16px;
        }

    .answer-options-container {
        display: none;
    }

#userProfile {
    line-height: 30px;
}

#userProfile span {
    float: left;
}

    #userProfile .userLabel {
        color: #666;
        width: 150px;
    }

#answerBox {
    background: -webkit-linear-gradient(top,  #77767f 10%,#34343c 100%); /* Chrome10+,Safari5.1+ */
    bottom: -500px;
    height: 310px;
    left: 0;
    position: absolute;
    width: 768px;
    z-index: 10;
}

.js-active.question-set #answerBox {
    display: block;
}

    #answerBox #actionsBar {
        background: -webkit-linear-gradient(top,  #808181 0%,#5b5b5b 50%,#535453 51%,#535453 100%); /* Chrome10+,Safari5.1+ */
        border-bottom: 1px solid #000;
        border-top: 1px solid #333;
        height: 44px;
    }

        #answerBox #actionsBar a {
            background: -webkit-linear-gradient(top,  #555656 0%,#000000 100%); /* Chrome10+,Safari5.1+ */            
            line-height: 33px;
            margin-top: 5px;
            width: 100px;
            -webkit-box-shadow: inset 0px 8px 8px rgba(255,255,255, 0.25);
        }
        
        #answerBox #actionsBar a.previous {
            float: left;
            margin-left: 5px;
        }
        
        #answerBox #actionsBar a.next {
            float: right;
            margin-right: 5px;
        }

    #answerBox #answerBox-options-container a.answerBox-option,
    #answerBox #answerBox-options-container a.answerBox-option td {
        width: 127px;
    }
    
    #answerBox #answerBox-options-container a.answerBox-option table {
        width: 100%;
    }
    
    #answerBox #answerBox-options-container a.answerBox-option {
        background: -webkit-linear-gradient(top,  #ebebee 0%,#cbcad3 100%); /* Chrome10+,Safari5.1+ */
        border: 1px solid #4e4d53;
        box-shadow: none;
        color: #000;
        float: left;
        font-size: 11px;
        margin: 15px 0 0 20px;
        text-shadow: none;
        -webkit-transition: 5s background;
    }
    
    /* question#1 */
    body.question1 #answerBox #answerBox-options-container a.answerBox-option {
        width: 730px;
    }
    
    body.question1 #answerBox #answerBox-options-container a.answerBox-option td {
        height: 100px;
        font-size: 20px;
    }
    
    /* question#2 */
    body.question2 #answerBox #answerBox-options-container a.answerBox-option td {
        font-size: 10px;
    }
    
    /* question#3 */
    body.question3 #answerBox #answerBox-options-container a.answerBox-option {
        width: 230px;
    }
    
    body.question3 #answerBox #answerBox-options-container a.answerBox-option td {
        height: 63px;
        font-size: 13px;
    }
    
    /* question#4 */
    /* question#5 */
    body.question4 #answerBox #answerBox-options-container a.answerBox-option,
    body.question5 #answerBox #answerBox-options-container a.answerBox-option,
    body.question6 #answerBox #answerBox-options-container a.answerBox-option {
        width: 353px;
    }
    
    body.question4 #answerBox #answerBox-options-container a.answerBox-option td,
    body.question5 #answerBox #answerBox-options-container a.answerBox-option td,
    body.question6 #answerBox #answerBox-options-container a.answerBox-option td {
        font-size: 20px;
        height: 60px;
    }
    
    #answerBox #answerBox-options-container a.answerBox-option.js-active {
        background: -webkit-linear-gradient(top,  #bdd3e5 0%,#8db9de 100%); /* Chrome10+,Safari5.1+ */
    }

        #answerBox #answerBox-options-container a.answerBox-option td {
            height: 40px;
            font-size: 12px;
            text-align: center;
        }

/* =========================================================================== */
/* iPad Specific                                                               */
/* =========================================================================== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    body {
        background: -webkit-linear-gradient(top,  #87a1b2 0%,#25527c 100%); /* Chrome10+,Safari5.1+ */
    }

    #tempIpad {
        border: 0;
        border-radius: 0;
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    #tempIpad-camera,
    #tempIpad-homeButton {
        display: none;
    }
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html,
    body {
        overflow: auto;
    }    
    
    body {
        background: -webkit-linear-gradient(top,  #87a1b2 0%,#25527c 100%); /* Chrome10+,Safari5.1+ */
    }

    #tempIpad {
        border: 0;
        border-radius: 0;
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }

    #tempIpad-camera,
    #tempIpad-homeButton {
        display: none;
    }
    
    #colRight {
        width: 80%;
    }
    
    #colLeft {
        width: 20%;
    }
    
}